.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #285a73;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
  background-color: #285a73;
}

.navbar-actions {
  display: flex;
  align-items: center;
}