.sidebar {
  width: 250px;
  padding: 1rem;
  border-right: 1px solid #ccc;
  background-color: #37474F;
  color: white;
  min-height: 100vh;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar li:hover {
  font-weight: bold;
  background-color: #285a73;
  border-radius: 10px;
}

.icono {
  margin-right: 0.5rem;
}